* {
    box-sizing: border-box;
    margin:0;
}

/* ==== GRID SYSTEM ==== */

.navbar{
	position:sticky;
	top:0;
	width:100%;
	height:100px;
	background-color:#441500;
	z-index:100;
  padding-bottom:20px;
}

.mainlogo{
	width:9%;
	padding-top:10px;
	image:center;
}


.container {
  width: 96%;
  margin:auto;

}

.row {
  position: relative;
  width: 100%;

}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
  height:100%;

}

  .col-1 {
    width: 54%;
    background: rgba(102,51,153,.57);
    padding-right:54px;
  }

  .col-1 img{
    padding-bottom:9px;
  }

  .col-2 {
    width: 41.67%;
    color:#441500;
  }

  .col-2 img{
    width: 41.67%;
    height:120px;
    margin-right:50px;
  }



/* This is clearfix, clearing content after each row*/
.row::after {
	content: "";
	display: table;
	clear: both;
}

div [class^="col"] {
    height:100px;
    padding-top:40px;

}

/* gutter width on all col except the last */
div [class^="col"] {

   background: rgba(102,51,153,0);
   align-items:center;

}
div [class^="col"]:last-of-type {
    padding-right: 0px;

}

.col-1 img:hover{
   animation-fill-mode: forwards;
   animation-name: changescale;
   animation-duration: .5s;
   animation-timing-function: ease-out;

}

@keyframes changescale{
  from {transform: scale(1,1)}
  to {transform: scale(1.5,1.5)}
}


.col-2 img:hover{
   animation-fill-mode: forwards;
   animation-name: changescale;
   animation-duration: .5s;
   animation-timing-function: ease-out;
}


@keyframes changescale{
  from {transform: scale(1,1)}
  to {transform: scale(1.5,1.5)}
}
