body{
  font-family: sans-serif;
  color:black;
  background-color:#f3dfbc;

}




.outer{
  text-align: center;
}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
}

.topnav{
  background-color: lightgrey;
  height:100px;
  text-align: left;
  padding-bottom:20px;

}

.layout{
	width:100%;
	height: 100px;
	background-color: #f5eaea;

}


/* HERO IMAGE */
.hero_content{
	font-size:30px;
	text-align: center;
  color:#441500;
  align-items:center;
  padding-left:90px;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 40px;
  color:#441500;
}

.hero_content img{
	width:100%;
}



/* SIDEBAR COMPONENT */

.side_bar{
  height:100%;
  overflow: auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;

}



.side_bar .section{
   color: #ad2118;
   text-transform: uppercase;
   font-weight: bold;
}

.side_bar img{
	float: right;
}

/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;

}

div [class^="side_bar"]:last-of-type {
    margin: 0px;

}
