body{
  font-family: sans-serif;
  color:black;
  background-color:#f3dfbc;

}


.navbar{
	position:sticky;
	top:0;
	width:100%;
	height:120px;
	background-color:#441500;
	z-index:100;
  padding-bottom:20px;
}

.mainlogo{
	width:9%;
	padding-top:20px;
	image:center;
}

a{
  color:#f3dfbc;
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  margin-right:40px;
  margin-left:40px;
}

a:hover {
  color:#ad2118;
 }

a:active {
  color:#441500;
}

.navhere{
  color:#c83400;
}

.outer{
  text-align: center;
}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
}

.topnav{
  background-color: lightgrey;
  height:100px;
  text-align: left;
  padding-bottom:20px;

}

.layout{
	width:100%;
	height: 100px;
	background-color: #f5eaea;

}


/* HERO IMAGE */
.hero_content{
	font-size:28px;
	text-align: center;
  color:#441500;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 34px;
  color:#441500;
}

.hero_content img{
	width:100%;
}



/* SIDEBAR COMPONENT */

.side_bar{
  height:120px;
  overflow: auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;
  font-size:20px;
  padding-left:40px;

}



.side_bar .section{
   color: #ad2118;
   text-transform: uppercase;
   font-weight: bold;
}

.side_bar img{
	float: left;
  margin-left:20px;
  margin-right:20px;
}

/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;

}

div [class^="side_bar"]:last-of-type {
    margin: 0px;
}
